<div class="">
  <%= form_with model: post, data: {turbo: false}  do |f| %>

 
    <% if @post.errors.any? %>
        <div id="error_explanation" class=' text-[#FC6736] text-sm'>
            <h2>
                <%= pluralize(@post.errors.count, "error") %> prohibited
                this post from being saved:
            </h2>
            <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>




<div class='flex flex-col gap-2'>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title, class: "rounded-sm border-0 focus:ring-0" %>
</div>

<div class='flex flex-col gap-2 mt-3'>
  <%= f.label :cover_image%>
  <%= image_tag @post.cover_image, class: 'rounded-lg object-cover h-[300px] w-full' if @post.cover_image.present? %>
  <%= f.file_field :cover_image %>
  </div>

<div class='gap-2 flex flex-col my-3'>
  <%= f.label :content, "Content" %>
  <%= f.rich_text_area :content%>
</div>

<div class='flex gap-2 my-3 justify-start items-end'>
  <%= f.label :published_at %>
  <%= f.datetime_select :published_at, include_blank: true %>
</div>
 <span class='bg-[#0C2D57] text-white rounded py-3 px-5 mt-6'>
    <%= f.button %>
  </span>

<% end %>

  </div>
