<%= form_with model: post, data: {turbo: false}  do |f| %>

 
    <% if @post.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@post.errors.count, "error") %> prohibited
                this post from being saved:
            </h2>
            <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>




<div>
  <%= f.label :title, "title" %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :cover_image%>
  <%= image_tag @post.cover_image if @post.cover_image.present? %>
  <%= f.file_field :cover_image %>
  </div>

<div>
  <%= f.label :content, "content" %>
  <%= f.rich_text_area :content%>
</div>

<div>
  <%= f.label :published_at %>
  <%= f.datetime_select :published_at, include_blank: true %>
</div>
   <%= f.button %>

<% end %>
