<div class="px-5 sm:p-14 flex flex-col gap-6 text-[#0C2D57]">
  <div class="w-full  h-full mx-auto">
    <%= image_tag @post.cover_image , class: 'rounded-lg object-cover h-[300px] w-full' if @post.cover_image.present? %>
  </div>
  <div class="flex flex-col gap-4">
    <h2 class="font-medium text-4xl"><%= @post.title %></h2>
    <p class="text-xl"><%= @post.content %></p>
  </div>
  
  <div class="flex justify-center gap-6">
    <%= link_to 'Back', root_path, class: 'bg-[#FC3736] text-white px-4 py-2 rounded-lg' %>

     <% if user_signed_in? && @post.user.email == current_user.email %>

     
    
    <%= link_to 'Edit', edit_post_path, class: 'bg-[#FC3736] text-white px-4 py-2 rounded-lg' %>
    <% end %>
    </div>

</div>
